@import "../../styles.scss";

* {
  padding: 0;
  margin: 0;
}
.main {
  display: flex;
  width: 100%;
  height: 95.5vh;
  align-items: center;
  font-size: 12px;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/16/961/139/gun-weapons-cartridges-stores-wallpaper-32d2434982ff8e0b7bb4ce3189f23c28.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .backgroundFilter{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.6);
  }

  .cartBox{
    width: 40%;
    height: fit-content;
    max-height: 90vh;
    display: flex;
    margin-left: 3vw;
    flex-direction: column;
    align-items: center;
    border: 2px solid $palette-1;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 4vh;
    .cartTitleSection{
      color: $palette-1;
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: "Antonio";
      padding-bottom: 1vh;
      font-size: 23px;
      text-transform: uppercase;
    }
    .cartContent{
      height: 100%;
      width: 95%;
      border: 0px solid $palette-2;
      border-top-width: 1px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.4vh;
      p{
        margin-bottom: 0.6vh;
      }
      .textSize{
        font-size: 12px;
      }
    }
  }
  .totalBlock{
    background-color: rgb(248,248,248);
    padding: 0.1vw;
    width: 100%;
    height: 10%;
    transition: all 500ms;
    display: flex;
    margin-bottom: 1vh;
    &:hover{
      background-color: rgb(255,255,255);
    }
    .totalEnd{
      display: flex;
      margin-left: auto;
      flex-direction: column;
      .checkoutBtn{
        display: flex;
        background-color: $palette-1;
        height: fit-content;
        width: fit-content;
        padding: 0.5vh;
        color: white;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: 0.4vh;
        margin-left: auto;
        margin-right: 0.2VW;
        cursor: pointer;
      }
      .totalNumber{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: 0.2vw;
        margin-top: 1.5vh;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
.wallet{
  display: flex;
  margin-left: auto;
  margin-right: 5px;
}