@import "../../styles.scss";
.main{
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15vw;
    height: 35vh;
    font-family: "Antonio";

    &:hover{
        cursor: pointer;
        transition: 300ms;
        background-color: rgb(219, 219, 219);
    }

    .image{
        display: flex;
        width: 80%;
        height: 60%;
        background-color: white;
        background-image: url("../../../../Work/360_F_94948904_Fjef6PUo3wQFNlZr0gQ5uqRi8zj6swQx-removebg-preview.png");
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
    }

    .productTitle{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 75%;
    }
    .productPrice{
        margin-top: -3px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: 'Inconsolata';
        width: 75%;
    }
    .productDescription{
        background-color: orangered;
        // font-family: 'Roboto Condensed';
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 30px;
        max-width: 75%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis !important;
        .truncated{
            background-color: greenyellow;
            // font-family: 'Roboto Condensed';
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            margin-top: 4px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 12px;
            max-width: 75%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis !important;
        }
    }
    .buttonArea{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 75%;
        gap: 1vw;
        padding-top: 0.5vh;
        .button{
            display: flex;
            height: 40px;
            width: 40px;
            background-color: grey;
        }
    }
}