@import "../../styles.scss";
.noTextDec{
    text-decoration: none;
    color: black;
}

.main{
    transition: 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15vw;
    height: 35vh;
    font-family: "Antonio";
    user-select: none;

    &:hover{
        cursor: pointer;
        transition: 300ms;
        background-color: rgb(219, 219, 219);
    }

    .image{
        display: flex;
        width: 80%;
        height: 60%;
        background-color: white;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        align-items: center;
        justify-content: center;
        .thumbnail{
            max-width: 90%;
            max-height: 90%;
        }
        .pistolThumbnail{
            max-width: 35%;
            max-height: 35%;
            transform: scaleX(-1);
        }
    }

    .productTitle{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 75%;
    }
    .productPrice{
        margin-top: -3px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: 'Inconsolata';
        width: 75%;
    }
    .productDescription{
        // font-family: 'Roboto Condensed';
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 75%;
        max-width: 75%;
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis !important;
    }
    .buttonArea{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 75%;
        gap: 1vw;
        padding-top: 0.5vh;
        .button{
            display: flex;
            height: 40px;
            width: 40px;
            background-color: $palette-6;
            align-items: center;
            justify-content: center;

            &:hover{
                transition: 200ms;
                background-color: gray;
                transform: scale(0.8);
            }
        }
        .cartBtn{
            background-color: $palette-1;
            img{
                scale: 0.8;
                filter: invert(100);
            }
        }
        .heartBtn{
            img{
                scale: 1.2;
            }
        }
    }
}

