@import "../../styles.scss";

*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: gray;
}

.main{
    background-color: white;
    border-radius: 4px;
    width: 15vw;
    height: 3vh;
    font-family: 'DM Sans';
    box-shadow: 0px 0px 20px -14px rgba(0,0,0,0.75);
    display: flex;
    padding: 1vh;
    flex-direction: column;
    overflow: hidden;

    h3{
        &:hover{
            color: blue;   
            cursor: cell;         
        }

        &:active{
            color: rgb(201, 201, 201);
        }
    }

    .input{
        border: 0;
        background-color: rgb(235, 235, 235);
        border-radius: 4px;
        padding-left: 0.6vw;
        height: 2.5vh;
        font-family: monospace;
        letter-spacing: 2px;
        margin-bottom: 10px;
        &::placeholder{
            font-family: 'DM Sans';
            letter-spacing: 0.5px;
        }
        &:focus{
            border: 0;
            outline: 1px solid blue;
            background-color: rgb(219, 219, 243);
        }
    }
}

.test{
    background-color: magenta;
    font-family: 'Courier New', Courier, monospace;
}
