@import "../../styles.scss";

.main{
    user-select: none;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .topSection{
        width: 98vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 2vw;
        gap: 5vw;
        .logo{
            width: 12vw;
            height: 7vh;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                scale: 7%;
            }
        }
        .searchBarArea{
            margin-right: 7vw;
            display: flex;
            flex-direction: row;
            .searchBar{
                width: 35vw;
                height: 3vh;
                padding-left: 20px;
                outline: 0;
                border: 1px solid rgb(172, 172, 172);
                border-radius: 4px;
                font-family: 'Montserrat';
                &:active{
                    background-color: rgb(238, 238, 238);
                }
                &:focus{
                    outline: 1px;
                }
            }
            .searchIcon{
                transition: 500ms;
                scale: 75%;
                margin-left: -1.5vw;
                &:hover{
                    // transition: 500ms;
                    filter: invert(90%);
                    cursor: pointer;
                    transform: scale(1.5);
                }
                &:active{
                    transition: 10ms;
                    filter: invert(1%);
                }
            }
        }
        .searchBarWidgets{
            width: 13vw;
            height: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            .navAdminIcon{
                transition: 500ms;
                background-color: #48dafb85;
                border: 2px solid #48dbfb;
                max-height: 4vh;
                min-height: 4vh;
                width: 2vw;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 1vw;
                &:hover{
                    transition: 500ms;
                    background-color: black;
                    cursor: pointer;
                    img{
                        transition: 500ms;
                        filter: invert(85%);
                    }
                }
                img{
                    scale: 70%;
                    filter: invert(100%);
                }
            }
            .navCartIcon{
                transition: 500ms;
                background-color: $palette-1;
                max-height: 4vh;
                min-height: 4vh;
                width: 2vw;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    transition: 500ms;
                    background-color: black;
                    cursor: pointer;
                    img{
                        transition: 500ms;
                        filter: invert(85%);
                    }
                }
                img{
                    scale: 70%;
                    filter: invert(100%);
                }
            }
            .cartItems{
                border: 1px inset $palette-5;
                border-left-width: 0px;
                width: 2vw;
                height: 3.8vh;
                display: flex;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                margin-right: 1vw;
                &:hover{
                    cursor: default;
                }
            }
            .navProfileIcon{
                background-color: $palette-1;
                transition: 500ms;
                max-height: 4vh;
                min-height: 4vh;
                width: 2vw;
                display: flex;
                align-items: center;
                justify-content: center;
                .loginIcon{
                    scale: 110%;
                    filter: invert(100%);
                }
                img{
                    scale: 80%;
                }
                
                &:hover{
                    transition: 500ms;
                    background-color: black;
                    cursor: pointer;
                    img{
                        transition: 500ms;
                        filter: invert(100%);
                    }
                }
            }
            
        }
    }
    .bottomSection{
        a{
            text-decoration: none;
        }
        
        width: 92vw;
        height: 4vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 4vw;
        gap: 3vw;
        border: 1px solid gray;
        border-width: 0;
        border-bottom-width: 1px;
        .navTab{
            width: 6vw;
            height: 6vh;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 500ms;
            font-family: 'Antonio';
            text-transform: uppercase;
            &:hover{
                transition: 500ms;
                cursor: pointer;
                transform: scale(1.2);
                filter: none;
                img{
                    transition: 500ms;
                    filter: none;
                }
            }
            &:active{
                transition: 10ms;
                transform: scale(1);
                filter: saturate(3);
            }
        }
        .navHome{
            img{
                transition: 500ms;
                scale: 70%;
                filter: brightness(0);
            }

        }
        .catagory{
            color: $palette-1;
            filter: brightness(0);
        }
    }
}
