@import "../../styles.scss";

*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;

    .topRow{
        display: flex;
        flex-direction: row;
        height: 50%;
        width: 100%;

    }
    .bottomRow{
        display: flex;
        flex-direction: row;
        height: 50%;
        width: 100%;
        
    }

}

.imageBlock{
    transition: all 350ms;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
        filter: opacity(60%);
    
    }
    img{
        width: 100%;
        height: 100%;
    }
}