@import "../../styles.scss";

.main{
    background-color: white;
    border-radius: 4px;
    width: 25vw;
    height: 3vh;
    font-family: 'DM Sans';
    box-shadow: 0px 0px 20px -14px rgba(0,0,0,0.75);
    display: flex;
    padding: 1vh;
    flex-direction: column;
    overflow: hidden;
    transition: all 500ms;
    h3{
        &:hover{
            color: blue;   
            cursor: cell;         
        }

        &:active{
            color: rgb(201, 201, 201);
        }
    }
    .table{
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 0.3vh;
    }
    .align{
        display: flex;
        margin-top: auto;
        margin-left: auto;
    }


}

