@import "../../styles.scss";

.main{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;

    & img{
    min-width: 100%;
    object-position: 0px -50vh;
    }
}
