@import url("https://fonts.googleapis.com/css?family=Antonio");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

$palette-1: #ff7a00;
$palette-2: #ff7b0099;
$palette-3: #ff7b0066;
$palette-4: #A7A7A7;
$palette-5: #c8c8c8;
$palette-6: #DBDBDB;


